body {
    margin: 0;
}
#container {
    width: 100%;
    display: flex;
}

#console {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 100px;
    height: calc(100vh - 200px);
}

.canvas {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;

}